.usersItem {
    padding: 1em;
    margin: 1em;
    border: 2px solid black;
    cursor: pointer;
}

tr:first-child:hover {
    background-color: #ffffff;
}

tr:hover {
    background-color: lightcyan;
}

td:nth-child(2) {
    cursor: pointer;
}

th:nth-child(2) {
    cursor: pointer;
}

.remove-btn {
    margin-right: 0.5rem;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.userDelete {
    font-weight: bold;
    color: red;
}

.userDelete:hover {
    cursor: pointer;
    color: #333333;
}

.arrow {
    color: red;
    width: 25px;
    height: auto;
    margin: 0 0 5px 5px;
}

.arrow-down {
    transform: rotate(180deg);
}

