.form {
    border: 1px solid black;
    border-radius: 7px;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1em;
    background-color: gainsboro;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formItem {
    padding: .5em;
}

.formTitle {
    text-align: center;
}

.btn-light {
    font-size: 32px;
}


