.form {
    border: 1px solid black;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1em;
}
.formItem {
    padding: .5em;
}