.userBlock {
  padding: 1em;
  border: 1px solid red;
  margin: 1em;
  cursor: pointer;
}
.openFormBtn {
  background-color: lightblue !important;
}
.openFormBtn:hover {
  background-color: deepskyblue !important;
}
.smallDataBtn:hover {
  background: #2b995b !important;
}
.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}